<div id="profile">
	<%= image_tag @current_user.profile_picture %>
	<br /><br />
	<%= @current_user.username %>
	<br /><br />
	<% @images.each do |image| %>
		<%= image_tag image.images.thumbnail.url %>
	<% end %>
</div>