<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">How to use Instamap</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>Single-click on the map to find all recent Instagram pictures near that location</li>
      <li>Type a landmark, city, or address in the search bar<br />(i.e. Eiffel Tower, Huntington Beach, etc.)</li>
      <li>Hovering over an image below the map will open a pop up in the map for lightning quick reference to a marker!</li>
      <li>Click on images below the map to see the street view where the image was taken</li>
    </ul>

    <p>
    	<%= image_tag "homepage.png", id: "homepage", class: "pull-left", height: 200, width: 250 %>
    </p>
        
    <p>
    	<%= image_tag "lightbox.png", id: "street_lightbox", class: "pull-right", height: 200, width: 250 %>
    </p>
  </div>
</div>