= title "Instamap is the best web interface to find Instagram photos on the web with Google Maps."
#container2
	.row-fluid
		.box.gradient
			.title
				.row-fluid
					- if @popular.nil?
						%h3#search_area
					- else
						%h3
							Popular images on Instagram
			#content
				#map_canvas
= render 'instamap/user_images'