/* import bootstrap */

@import "bootstrap";

/* universal */

body {
  background-image: url("classy_fabric.png");
}

.row {
  margin: 0 auto;
}

.center { 
	text-align: center; 
	h1 { 
		margin-bottom: 10px;
	}
}

#sad_face {
	z-index: 1;
	img {
		height: 50px;
		width: 50px;
	}
}

/* About */

#about_us {
	margin-top: -40px;
	margin-left: 10px;
}

/* Google */

#map_canvas { 
	margin-top: 70px;
	margin-bottom: 25px;
	height: 450px;
}

#infowindow { 
	height: auto; 
	width: auto; 
	img { 
		margin-left: -30px; 
		margin-right: 10px; 
		height: 250px; 
		width: 265px; 
	}
}

#street_view {
	height: 325px;
	margin-bottom: 20px;
	img {
  	border: none !important;
    max-width: none !important;
	}
}

#not_available img {
	width: 100%;
}

/* Fancybox */

#lightbox_comments {
	position: absolute;
	top: 350px;
	left: 400px;
	margin-bottom: 15px;
	overflow: auto;
	width: auto;
	height: 300px;
	img {
		margin-top: 0px;
	}
}

/* logo */

#logo { 
	position: fixed;
	font-family: 'Faster One', cursive; 
	float: left; 
	margin-top: 10px; 
	margin-left: 10px; 
	font-size: 35px; 
	color: #EFDFBB; 
	text-transform: uppercase; 
	letter-spacing: -1px; 
	font-weight: bold; 
	line-height: 35px; 
	&:hover { 
		color: #EFDFBB; 
		text-decoration: none;
	}
}

#beta {
	position: absolute;
	top: -40px;
	left: -40px;
	z-index: -1;
}

/* header */

.search {
	margin-top: 15px;
	margin-bottom: 10px;
}

.search_btn {
	margin-top: -10px;
}

.facebook {
	float: right;
	margin-top: 22px;
}

.twitter {
	float: right;
	margin-top: 22px;
}

/* modal */

#homepage {
	margin-right: 10px;
}

#street_lightbox {
	margin-left: 10px;
}

/* AJAX loader */

#loader {
	margin-top: 10px;
	margin-left: 480px;
}