<div id="map_canvas"></div>
<div class="imageSlider">
  <div class="flexslider">
    <ul class="slides">
      <% @medias.each do |media| %>
        <li>
          <%= link_to image_tag(media.images.thumbnail.url), media.images.standard_resolution.url, rel: "lightbox" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>