<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<%= link_to "InstaMap", root_path, id: "logo" %>
		<nav>
			<ul>
				<li><%= link_to "About", "#", id: "about-modal", class: "pull-right" %></li>
			</ul>
		</nav>
	</div>
</div>

<div id="about-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>What is InstaMap?</h3>
  </div>
  <div class="modal-body">
    <p>
    	Good quesiton... InstaMap is a new and fun way to view recent photos that are geolocated. When you firist visit InstaMap, the most popular images from Instagram at the time is presented on your page.
    </p>
    <p>
    	To help you navigate the map quicker, it should already be close to your location. So go ahead and move the map around, clicking onto the map where you would like to place a marker. Once a marker has been set, the images will auto update and you will be presented with the most recent geolocated photos from the area which you clicked.
    </p>
  </div>
</div>