.addthis_toolbox.addthis_default_style
  %a.addthis_button_facebook_like{ 'fb:like:layout' => 'button_count' }
  %a.addthis_button_tweet
  %a.addthis_button_pinterest_pinit
%script{ type: 'text/javascript' }
  :plain
    var addthis_config = {"data_track_addressbar":false};
%script{ type: 'text/javascript', src: '//s7.addthis.com/js/300/addthis_widget.js#pubid=rvb80' }